<!-- Toolbar-->
<mat-toolbar>
    <mat-toolbar-row>
      <span>VANHACK</span>     
      <button mat-button [matMenuTriggerFor]="menu">#MENU</button>
      <mat-menu #menu="matMenu">      
      <button [routerLink]="['/produtos']" routerLinkActive="router-link-active" mat-menu-item>Produtos</button>
      <button [routerLink]="['/sobre']" routerLinkActive="router-link-active" mat-menu-item>Sobre</button>
      <button [routerLink]="['/contato']" routerLinkActive="router-link-active" mat-menu-item>Contato</button>
      <button [routerLink]="['/features']" routerLinkActive="router-link-active" mat-menu-item>Features</button>
    </mat-menu>
    </mat-toolbar-row>
   </mat-toolbar>
  <!--FIM Toolbar-->